body {
  margin: 0;
}

.sidebar {
  display: inline;
  background-color: rgba(160, 152, 152, 0.685);
  height: 100vh;
  position: fixed;
  padding: 1px;
  padding-right: 25px;
}

img {
  width: 80px;
  margin-right: 100px;
  border-radius: 10px;
  margin-bottom: -10px;
}

#profile {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  margin-left: -25px;
}

.sidebar-list {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
}

ul li {
  margin-bottom: 50px;
  margin-top: 70px;
  background-color: white;
  height: 40px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

ul li a {
  display: block;
  padding: 11px;
  border-radius: 10px;
}

ul li a:hover {
  text-decoration: underline;
  background-color: rgba(128, 121, 121, 0.685);
  /* transform: scale(1.05);*/
}
